In [110]:
#1 Pobierz bazę danych dotyczącą śmiertelnych interwencji policji w USA, a następnie wczytaj ją do obiektu DataFrame.
import pandas as pd
df=pd.read_csv('fatal-police-shootings-data.csv')
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [111]:



#4 Dodaj kolumnę oznaczającą dzień tygodnia, w którym doszło do interwencji. Zlicz interwencje według odpowiedniego dnia tygodnia. 
# Następnie stwórz wykres kolumnowy, tak aby dni tygodnia były uszeregowane od poniedziałku do niedzieli.
#5 Wczytaj do projektu dane dotyczące populacji w poszczególnych stanach USA oraz dane dotyczące skrótów poszczególnych stanów. 
# Połącz te bazy danych w taki sposób, aby móc policzyć do ilu incydentów w bazie dotyczącej śmiertelnych interwencji doszło w przeliczeniu na 1000 mieszkańców każdego ze stanów.

In [112]:
#2 Przekształć tabelę w taki sposób, aby wskazywała zestawienie jednocześnie liczby ofiar interwencji według rasy (‘race’) oraz tego,
# czy wykazywały one oznaki choroby psychicznej (‘signs_of_mental_illness’).
from unicodedata import name


data=df.pivot_table(values = 'name', index = ['race', 'signs_of_mental_illness'], aggfunc = 'count')
data1 = data.rename(columns={'name':'body count'})
data1
#nie wiem za bardzo co miałbym wstawić jako columns, żeby miało to sens

                              body count
race signs_of_mental_illness
A    False                            69
     True                             24
B    False                          1114
     True                            184
H    False                           745
     True                            157
N    False                            64
     True                             14
O    False                            37
     True                             11
W    False                          1763
     True                            713

In [113]:
#3 Za pomocą Map, Applymap lub Apply dodaj do tego zestawienia kolumnę wskazującą jaki odsetek ofiar interwencji wykazywało oznaki choroby psychicznej dla każdej z ras. 
# Odpowiedz, która z nich charakteryzuje się największym odsetkiem znamion choroby psychicznej podczas interwencji.
#def mental_illness_%():
#    return 



data1['mental illness %'] = data1(['body count'] where ['signs_of_mental_illness'] = 'True')/['body count']*100
# miałbyś jakąś podpowiedź - nie jestem w stanie wpaść na to jak opisać konkretne miejsca tabeli a konkretnie 69 i 24 dla rasy A, i odpowiednio dla pozostałych

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1321347262.py, line 8)